:root {
    --bg-color: #161c18;
    --bg-color-variant: #0c0e0c;
    --btn-color: #77111b;
    --btn-color-variant: #41090e;
    --transition: all 0.2s ease-in-out 0ms;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    padding: 0 6em;
}

section {
    height: 100vh;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

li {
    list-style: none;
}

h1,
h4 {
    font-family: serif;
}

.hero-img {
    background-image: url(../assets/hero-img.png);
    height: 100vh;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    z-index: -1;
}

header {
    justify-content: space-between;
    padding: 1.5em 0;
}

header, nav, nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 2em;
}

nav a:hover {
    text-decoration: underline;
}

nav button {
    font-size: 1em;
    padding: 0.7em 2em;
    background-color: var(--btn-color);
    border: none;
    color: white;
    transition: var(--transition);
    cursor: pointer;
}

nav button:hover {
    background-color: var(--btn-color-variant);
}

.active {
    text-decoration: underline;
}

.menu {
    display: none;
}

h1 {
    font-size: 48px;
    font-weight: 300;
}

#hero .container {
    width: 45%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(50%);
}

#hero p {
    font-size: 1.2em;
    line-height: 22.8px;
}

#hero button {
    font-size: 18px;
    padding: 15px;
    border: none;
    background-color: var(--btn-color);
    border-radius: 5px;
    color: white;
    transition: var(--transition);
    cursor: pointer;
}

#hero button:hover {
    background-color: var(--btn-color-variant);
}