:root {
    --bg-color: #161c18;
    --bg-color-variant: #0c0e0c;
    --btn-color: #77111b;
    --btn-color-variant: #41090e;
    --transition: all 0.2s ease-in-out 0ms;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
